.game-room {
  display: flex;
  height: 100%;
  height: 700px;
}

.game-board {
  flex: 3;
  padding: 20px;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
  height: 100%;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 5px;
}

.message-input {
  display: flex;
}

.message-input input {
  flex: 1;
  margin-right: 10px;
  border: 2px solid #4CAF50; /* Correct syntax for border */
  outline: none; /* Remove default focus outline */
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.error{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:red;
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 7.5s;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s, fadeOut 0.5s 7.5s;
}

.game-end-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.game-end-overlay h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}

.turn-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 7.5s;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s, fadeOut 0.5s 7.5s;

}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(-20px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateX(-50%) translateY(0); }
  to { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}