body {
    background-color: #005B33; /* צבע הרקע */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* גובה מלא של חלון */
    margin: 0;
}

.lobby-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.lobby-item {
    padding: 15px;
    width: 100%; 
    text-align: center;
    color: black; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 10px 0; 
    border: none;
    border-radius: 18px; 
    font-size: 1.1em; 
    outline: none;
}

    .lobby-item:nth-child(1) {
        background-color: #D7C49E;
    }
    /* חום בהיר */
    .lobby-item:nth-child(2) {
        background-color: #BFAE8E;
    }
    /* חום בינוני */
    .lobby-item:nth-child(3) {
        background-color: #A5947E;
    }
    /* חום כהה יותר */
    .lobby-item:nth-child(4) {
        background-color: #8E7A6C;
    }
    /* חום כהה */
    .lobby-item:nth-child(5) {
        background-color: #7B6B5D;
    }
    /* חום כהה מאוד */

    .lobby-item:hover {
        transform: scale(1.05); /* מעט הגדלה */
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 0.1); /* הוספת צבע
