body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the window */
    margin: 0;
  }
  
  .lobby-container {
    width: 100%;
    min-width: 400px; 
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  .lobby-item {
    padding: 15px;
    width: 100%; /* Full width */
    text-align: center;
    color: #333; /* Dark text for contrast */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Faster transition for hover */
    margin: 10px 0; 
    border-radius: 10px; /* Slightly smaller corner radius */
  }
  
  .lobby-item:nth-child(1) { background-color: #D7C49E; }
  .lobby-item:nth-child(2) { background-color: #BFAE8E; }
  .lobby-item:nth-child(3) { background-color: #A5947E; }
  .lobby-item:nth-child(4) { background-color: #8E7A6C; }
  .lobby-item:nth-child(5) { background-color: #7B6B5D; }
  
  .lobby-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3); 
  }
  
  @media (max-width: 600px) {
    .lobby-item {
      font-size: 1.2em; 
    }
  }