.point {
  position: relative;
  width: 100%;
  height: 100%;
}

.point .triangle {
  width: 100%;
  height: 100%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.point.dark .triangle {
  border-bottom: 275px solid #8B4513;
}

.point.light .triangle {
  border-bottom: 275px solid #a82808;
}

.point.top .triangle {
  transform: rotate(180deg);
}

.point.selected {
  background-color: rgba(0, 0, 255, 0.2); 
}

.checkers {
  position: absolute;
  bottom: 0;
  left: 5px;
  display: flex;
  flex-direction: column;
}

.point.top .checkers {
  bottom: auto;
  top: 0;
  flex-direction: column-reverse;
}

.checker-count {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.point.top .checker-count {
  bottom: auto;
  top: 0;
}